/*登陆页面样式*/

.login-form {
    margin-top: 70px;
}

.login-error {
    color: red;
}


.valid-img {
    height: 35px;
    width: 220px;
    border-right: 1px whitesmoke;
}

/*注册页面样式*/

.reg-form {
    margin-top: 70px;
}

.reg-hide {
    display: none;
}

#avatar-img {
    height: 80px;
    width: 80px;
}

/*index 页面 文章左侧头像*/
.author-img {
    height: 80px;
    width: 80px;
}

.article-footer span {
    margin-right: 15px;
}

.article-footer {
    margin-top: 10px;
}

.article {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px slategray solid;
}

/*个人主页*/
.header {
    height: 60px;
    width: 100%;
    color: white;
    background-color: #46b8da;
}

.header p {
    padding: 10px 0 10px 20px;
    font-size: 24px;
    font-weight: bold;

}

/*文章list*/

.container {
    margin-top: 2%;
}

.media span {
    font-size: 18px;
}

/*分类标签*/
.category p,
.tag p
.archive-list p {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    border-bottom: #8c8c8c 1px solid;
}

#div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
}

.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url(/web/static/img/upup.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.buryit {
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url(/static/img/downdown.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.clear {
    clear: both;
}

#commentform_title {
    background-image: url(/static/img/icon_addcomment.gif);
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
}

div.commentform input.author, div.commentform input.email, div.commentform input.url, #tbCommentAuthor {
    background-image: url(/static/img/icon_form.gif);
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 4px 4px 4px 30px;
    width: 230px;
}

div.commentform textarea, #tbCommentBody {
    width: 450px;
    height: 300px;
    font-size: 13px;
    border: 1px solid #ccc;
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div.commentform textarea.comment_textarea {
    line-height: 1.6;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    /*resize: auto;*/
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 11px system-ui;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}